target/
build/

# Ignore IDEA-specific files
.idea/
*.iws
*.iml
*.ipr

# Compiled class files
*.class

# Log files
*.log

# Packaged Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store

# JARs are otherwise excluded, so make sure to include this one
!.mvn/wrapper/maven-wrapper.jar

